<a href="https://colab.research.google.com/github/AimanHafizi619/My-Work/blob/main/EDA_for_1M_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [5]:
filename = "/content/drive/MyDrive/Colab Notebooks/1000000 Sales Records.csv"
df = pd.read_csv(filename)

In [7]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18

In [9]:
df.info(), print(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Region          1000000 non-null  object
 1   Country         1000000 non-null  object
 2   Item Type       1000000 non-null  object
 3   Sales Channel   1000000 non-null  object
 4   Order Priority  1000000 non-null  object
 5   Order Date      1000000 non-null  object
 6   Order ID        1000000 non-null  int64
 7   Ship Date       1000000 non-null  object
 8   Units Sold      1000000 non-null  int64
 9   Unit Price      1000000 non-null  float64
 10  Unit Cost       1000000 non-null  float64
 11  Total Revenue   1000000 non-null  float64
 12  Total Cost      1000000 non-null  float64
 13  Total Profit    1000000 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 106.8+ MB

(None,
 None,
            Order ID      Units Sold      Unit Price       Unit Cost  \
 count  1.000000e+06  1000000.000000  1000000.000000  1000000.000000
 mean   5.493520e+08     4998.867302      266.025488      187.522978
 std    2.599397e+08     2885.334142      216.987966      175.650798
 min    1.000012e+08        1.000000        9.330000        6.920000
 25%    3.239629e+08     2502.000000       81.730000       35.840000
 50%    5.486524e+08     4998.000000      154.060000       97.440000
 75%    7.745981e+08     7496.000000      421.890000      263.330000
 max    9.999999e+08    10000.000000      668.270000      524.960000

        Total Revenue    Total Cost  Total Profit
 count   1.000000e+06  1.000000e+06  1.000000e+06
 mean    1.329563e+06  9.372671e+05  3.922956e+05
 std     1.468527e+06  1.148954e+06  3.788199e+05
 min     9.330000e+00  6.920000e+00  2.410000e+00
 25%     2.778672e+05  1.617289e+05  9.510480e+04
 50%     7.844445e+05  4.667818e+05  2.810549e+05
 75%     1.822444e+06  1.196327e+06  5.653076e+05
 max     6.682700e+06  5.249600e+06  1.738700e+06  )

In [10]:
df.duplicated().sum()

50009